*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#a2000a, #cf0000);
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: url("../img/tree.png");
    z-index: 1;
}
.container .circle{
position: absolute;
width: 350px;
height: 350px;
left: 50%;
top: 10%;
transform: translate(-50%);
background: #fff;
border-radius: 50%;
box-shadow: 10px 10px 80px #222222;
}
.container .circle::before{
    content: "";
    position: absolute;
    background: url("../img/santa.png");
    inset: -200px -300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px;
    animation: animate 5s ease-in-out infinite;
}
@keyframes animate{
    0%,100%{
        transform: translateY(-25px);
    }
    50%{
        transform: translateY(25px);
    }
}

.container .circle::after{
    position: absolute;
    content: "Merry Christmas";
    font-size: 4em;
    inset: -125px -200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;

}
.container .snow{
    position: relative;
    display: flex;
}

.container .snow span{
    position: relative;
    min-width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    margin: 0 1vw;
    box-shadow: -100px 20px 5px #fff, 100px 20px 10px #fff;
    animation: animateSnow 15s linear infinite;
    animation-duration: calc(75s / var(--i));

}
.container .snow span:nth-child(even){
    min-width: 10px;
    height: 10px;
}
@keyframes animateSnow{
    0%{
        transform: translateY(-10vh);
    }
    100%{
        transform: translateY(100vh);
    }
}